<polymer-element name="x-ddt" attributes="rigadamodificare">
	<template>
		<style>
		.displayRighe {
			height: 16em;
			width: 100%;
			border:0.1em solid grey;
			box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.333333);
			padding:0.2em;
			overflow-y: scroll;
		}
		.displayRighe  input{
			display: none;
		}
		displayRighe tbody {

		}
		.displayRighe thead{

		}
		tbody tr {
			background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 88%,#eaeaea 100%);
		}
		.displayRighe table, thead, tbody, tfooter {
			width: 100%;
			border: 0px;
			padding:0px;
			margin:0px;
			border-collapse: collapse;
			border-spacing: 0;
		}
		.displayRighe label{
			background-color: transparent;
			color: grey;
		}
		.displayRighe thead td{

			background: linear-gradient(15deg, #616161 0%,#616161 4%,#7c7c7c 100%); /* W3C */
			font-weight:bold;
			color:white;
			font-size: 0.8em;
		}
		</style>
<x-window title="Gestione DDT">
		<x-numerodoc val="{{ddt.numero}}" label="Numero"></x-numerodoc>
		<x-data val="{{ddt.data}}" label="Data"></x-data>
		<br>
		<x-codiceclientefornitore val="{{ddt.clientefornitore_codice}}" label="Cliente" id="codiceclientefornitore"></x-codiceclientefornitore>
		<br>
		Fattura -{{ddt.fattura_numero}}- del -{{ddt.fattura_data}}-
		<!--
		<x-numerodoc val="{{ddt.fattura_numero}}" label="N.Fatt."></x-numerodoc>
		<x-data val="{{ddt.fattura_data}}" label="Data.Fatt."></x-data>
		-->
		<br>
		<x-codicecausale val="{{ddt.causale_codice}}" label="Causale di spedizione"></x-codicecausale>
		<br>
		<x-codicemezzo val="{{ddt.mezzo_codice}}" label="Mezzo di spedizione" id="codicemezzo"></x-codicemezzo>
		<br>
		<x-codiceclientefornitore val="{{ddt.vettore_codice}}" label="Vettore" isvettore="true" id="codicevettore"></x-codiceclientefornitore>
		<br>
		<x-note val="{{ddt.note}}" label="Note"></x-note>
		<br>
		Righe:
		<div class="displayRighe" tabindex="">
		<table>
			<thead>
			<tr>
				<td>Numero</td>
				<td>Articolo</td>
				<td>UM</td>
				<td>Prezzo</td>
				<td>Colli</td>
				<td>Imballaggio</td>
				<td>Lordo</td>
				<td>Tara</td>
				<td>Netto</td>
				<td>Lotto</td>
				<td>Iva</td>
			</tr>
			</thead>
			<tbody>
		<template repeat="{{r in ddt.righe}}">
			<tr id="r{{r.numero}}">
			<td><x-numeroriga val="{{r.numero}}" label=" {{r.numero}}" disabledstatus="true"></x-numeroriga></td>
			<td><x-codicearticolo val="{{r.articolo_codice}}" label=" " disabledstatus="true"></x-codicearticolo></td>
			<td><x-codiceum val="{{r.um_codice}}" label=" " disabledstatus="true"></x-codiceum></td>
			<td><x-prezzo val="{{r.prezzo}}" label=" {{r.prezzo}}" disabledstatus="true"></x-prezzo></td>
			<td><x-numerocolli val="{{r.colli}}" label=" {{r.colli}}" disabledstatus="true"></x-numerocolli></td>
			<td><x-codiceimballaggio val="{{r.imballaggio_codice}}" label=" " disabledstatus="true"></x-codiceimballaggio></td>
			<td><x-peso val="{{r.pesolordo}}" label=" {{r.pesolordo}}" disabledstatus="true"></x-peso></td>
			<td><x-peso val="{{r.tara}}" label=" {{r.tara}}" disabledstatus="true"></x-peso></td>
			<td><x-peso val="{{r.pesonetto}}" label=" {{r.pesonetto}}" disabledstatus="true"></x-peso></td>
			<td><x-lotto val="{{r.lotto}}" label=" {{r.lotto}}" disabledstatus="true"></x-lotto></td>
			<td><x-codiceiva val="{{r.iva_codice}}" label=" " disabledstatus="true"></x-codiceiva></td>
			</tr>
		</template>
			</tbody>
		</table>
		</div>
	<!-- -->
	Modifica Riga
	<BR>
	<x-numeroriga val="{{rigadamodificare.numero}}" label="N." id="numeroriga"></x-numeroriga>
	<x-codicearticolo val="{{rigadamodificare.articolo_codice}}" id="codicearticolo" label="Art."></x-codicearticolo>
	<x-lotto val="{{rigadamodificare.lotto}}" label="Lotto"></x-lotto>
	<br>
	<x-numerocolli val="{{rigadamodificare.colli}}" label="Colli"></x-numerocolli>
	<x-codiceimballaggio val="{{rigadamodificare.imballaggio_codice}}" label="Tipo Imball."></x-codiceimballaggio>
	<br>
	<x-codiceum val="{{rigadamodificare.um_codice}}" label="UM" id="codiceum"></x-codiceum>
	<x-peso val="{{rigadamodificare.pesolordo}}" label="Lordo" id="pesolordo"></x-peso>
	<x-peso val="{{rigadamodificare.tara}}" label="Tara" id="tara"></x-peso>
	<x-peso val="{{rigadamodificare.pesonetto}}" label="Netto" id="pesonetto"></x-peso>
	<br>
	<x-prezzo val="{{rigadamodificare.prezzo}}" label="Prezzo"></x-prezzo>
	<x-codiceiva val="{{rigadamodificare.iva_codice}}" label="Iva" id="codiceiva"></x-codiceiva>
	</x-window>
	</template>
	<script>
		Polymer('x-ddt', {
			ready: function() {
				/*
				var ajax = {
				ddt:{
					_type:"Ddt",
					numero:"1934",
					data:"16/11/2013",
					clientefornitore_codice:"LAFAVO",
					causale_codice:"01",
					mezzo_codice:"01",
					vettore_codice:"03",
					fattura_numero:"",
					fattura_data:"",
					note:"Note per il ddt",
					righe: [
						{	numero: 0,
							articolo_codice: '01',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '03',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 0,
							articolo_codice: '31',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '20',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 0,
							articolo_codice: '29',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '08',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 0,
							articolo_codice: '05',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{	numero: 1,
							articolo_codice: '19',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						]
				   }
				}
				*/
				/*
				console.log('parametri inviati:', this.ddt);
				$.ajax({
					type: "POST",
					url: "./../do.php",
					data: { action: 'getOne',
							params: JSON.stringify(this.ddt)
					},
					context: this,
				}).done(function( msg ) {
					alert('Ddt loaded?');
					console.log(msg);
					
					this.ddt= JSON.parse(msg);
					
					//inizializza i campi per una nuova riga
					this.iniziaRiga();
					this.reindicizzaRighe();
				});
				*/
				//this.getDdtFromServer();

				//check for enter keyopress on riga field
				//and fire the menu 
				$(this.$.numeroriga.$.field).keydown(function(event) {
					switch (event.which){
						case 13: 
							if(this.$.numeroriga.val=='' || this.$.numeroriga.val==null){
								//inizio a creare una nuova riga
								this.$.numeroriga.val = this.ddt.righe.length;
								this.$.codicearticolo.$.field.focus();
								//stop here
								break;
							}else if(this.$.numeroriga.val>=0 && this.$.numeroriga.val < this.ddt.righe.length){
								//position to the displayRighe div to the current row
								location.hash='#r'+this.$.numeroriga.val;
								//display the menu
								this.displayMenu();
							}else{
								alert('Riga inesistente!');
								setTimeout(function (){
									this.$.numeroriga.$.field.focus();
								}.bind(this), 10);
								//return false;
							}
						break; //enter
					}
				}.bind(this));
				//
				$(this.$.codiceiva.$.field).keydown(function(event) {
					switch (event.which){
						case 13: 
							this.displayMenu().select(2);//autoselect memorizza riga
						break; //enter
					}
				}.bind(this));
				//esc menu
				$(this).keydown(function(event) {
					switch (event.which){
						case 27: 
							this.displayEscMenu();//autoselect memorizza riga
						break; //enter
					}
				}.bind(this));
			
			},
			displayMenu: function (){
				console.log('create the menu');
				var menu = document.createElement('x-menu');
				var list= [
					{label:'Modifica riga',_action:function (){this.modificaRiga(this.$.numeroriga.val);}.bind(this)},
					{label:'Cancella riga',_action:function (){this.eliminaRiga(this.$.numeroriga.val);}.bind(this)},
					{label:'Memorizza riga',_action:function (){this.memorizzaRiga(this.rigadamodificare);}.bind(this)},
				];
				//remember the full list that compose the menu
				menu.fulllist = list;
				//generate the table for the menu
				var table = menu.generateTable (menu.fulllist);
				console.log('the table for the menu is redy:', table);

				console.log('Appending menu to the body:', menu);
				document.body.appendChild(menu);
				console.log('menu added!')

				menu.createMenu (table.tBodies[0].children);

				menu.onCancel = function (){
					this.$.numeroriga.$.field.focus();
				}.bind(this);

				//wait a little and then position the help window in the middle of the body
				//and remember his width so that it does not change during future modifcation of contents
				//and show us
				setTimeout(function (){
					this.addModalBackground();
					var modifier = {
						top: -50,
						left: 50,
						}
					this.setPosition('bl','bl',document.body, modifier);
					this.show();
					this.focus();
				}.bind(menu), 150);
				return menu;
			},
			displayEscMenu: function (){
				console.log('create the menu');
				var menu = document.createElement('x-menu');
				var list= [
					{label:'Memorizza DDT',_action:function (){this.memorizzaDdt();}.bind(this)},
					{label:'Stampa DDT',_action:'none'},
					{label:'Stampa e memorizza DDT',_action:'none'},
					{label:'Abbandona DDT',_action:function (){this.abbandonaDdt();}.bind(this)}
				];
				//remember the full list that compose the menu
				menu.fulllist = list;
				//generate the table for the menu
				var table = menu.generateTable (menu.fulllist);
				console.log('the table for the menu is redy:', table);

				console.log('Appending menu to the body:', menu);
				document.body.appendChild(menu);
				console.log('menu added!')

				menu.createMenu (table.tBodies[0].children);

				menu.onCancel = function (){
					//give the focus to the first field
					this.fields[0].querySelector('input').focus();
				}.bind(this);

				//wait a little and then position the help window in the middle of the body
				//and remember his width so that it does not change during future modifcation of contents
				//and show us
				setTimeout(function (){
					this.addModalBackground();
					this.setPosition('cc','cc',document.body);
					this.show();
					this.focus();
				}.bind(menu), 150);
				return menu;
			},
			enteredView: function (){
				//#################################################
				//## UI LOGIC                                    ##
				//#################################################
				
				setTimeout(function (){
					//get a list of focusable elements
					//this.fields = this.impl.parentElement.querySelectorAll('x-ddt > [val]');
					this.fields = this.impl.querySelectorAll('x-window > div > div > [val]');

//console.log(this.impl.querySelectorAll('x-window > div > div > [val]'));
					//give focus to the first one
					this.fields[0].querySelector('input').focus();
					//
					for (var i = 0; i< this.fields.length; i++){
						$(this.fields[i]).keydown(function(event) {
							switch (event.which){
								case 13:
									//focus the next field
									var next = 1+$.inArray(event.target.parentElement.parentElement, this.fields);
									if(next <= this.fields.length){
										newField = this.fields[next].querySelector('input');
										newField.focus();
									}
								break; //enter
							}
						}.bind(this));
					}
				}.bind(this), 100);
			},
			modificaRiga: function (numRiga){
				console.log('XDDT: richiesto di modificare la riga:', numRiga);
				this.rigadamodificare=JSON.parse(JSON.stringify(this.ddt.righe[numRiga]));
				//do il focus al prossimo campo per iniziare la modifica della riga
				this.$.codicearticolo.$.field.focus();
			},
			eliminaRiga: function (numRiga){
				this.rigadamodificare.numero=null;
				this.$.numeroriga.val=null;
				console.log('XDDT: richiesto di cancellare la riga:', numRiga);
				this.ddt.righe.splice(numRiga, 1);
				this.reindicizzaRighe();
				this.iniziaRiga();
				//rido' il focus al campo di selezione della riga
				this.$.numeroriga.$.field.focus();
			},
			iniziaRiga: function (oRiga){
				this.rigadamodificare = {
							numero: null,
							articolo_codice: null,
							um_codice: null,
							prezzo: null,
							colli: null,
							imballaggio_codice: null,
							pesolordo:null,
							tara:null,
							pesonetto:null,
							lotto:null,
							iva_codice:null,
							};
			},
			reindicizzaRighe: function (oRiga){
				console.log('XDDT: reindicizzazzione righe in corso', this.ddt.righe.length)
				for (var i=0; i < this.ddt.righe.length; i++){
					var riga = this.ddt.righe[i];
					console.log('XDDT: riga ',riga.numero,'diventa ',i)
					riga.numero = i;
				}
			},
			memorizzaRiga: function (oRiga){
				console.log('XDDT: memorizzazzione riga in corso', oRiga)
				this.ddt.righe[oRiga.numero]=JSON.parse(JSON.stringify(oRiga));
				console.log('XDDT: resetto il numero riga')
				this.iniziaRiga();
				this.$.numeroriga.$.field.focus();
			},
			memorizzaDdt: function (){
			console.log('Saving:', this.ddt)
				//perform an ajax request to save the ddt
				$.ajax({
					type: "POST",
					url: "./../do.php",
					data: { action: 'save',
							params: JSON.stringify(this.ddt)
					},
					context: this,
				}).done(function( msg ) {
					alert('Ddt saved?');
					console.log(msg);
					this.abbandonaDdt();
				});
			},
			abbandonaDdt: function (){
				this.onQuit();
				this.parentNode.removeChild(this);			
			},
			cancellaDdt: function (){
			console.log('Deletting:', this.ddt)
				//perform an ajax request to save the ddt
				$.ajax({
					type: "POST",
					url: "./../do.php",
					data: { action: 'delette',
							params: JSON.stringify(this.ddt)
					},
					context: this,
				}).done(function( msg ) {
					alert('Ddt deletted?');
					console.log(msg);
					this.abbandonaDdt();
				});	
			},
			getDdtFromServer: function (){
				//impostiamo il tipo in quanto non sempre è già impostato
				this.ddt._type='Ddt';
				//
				$.ajax({
					type: "POST",
					url: "./../do.php",
					data: {
							action: 'getOne',
							/*
							params:{
								_type: 'Ddt',
								numero: '1934',
								data: '16/11/13',
							}
							*/
							params: this.ddt
							//_autoExtend: -2,
					},
/*					data: { action: 'getOne',
							params: JSON.stringify(this.ddt)
					},
*/
					context: this,
				}).done(function( msg ) {
					console.log('Ddt loaded??');
					console.log(msg);
					/*
					var newDdt = JSON.parse(msg).ddt;
					var oldDdt = this.ddt;
					
					for (var key in newDdt) { 
						console.log('updating:', key);
						oldDdt[key] = newDdt[key];
					}
					*/
					var serverDdt = JSON.parse(msg).ddt;
					
					this.ddt={};
					this.ddt.righe =  new Array(serverDdt.length);
					for (var i=0; i<=serverDdt.length; i++){
						this.ddt.righe[i] =  {}; 
					};
					console.log(serverDdt);
					this.ddt = JSON.parse(JSON.stringify(serverDdt)); 
					this.getRigheFromServer();
			//console.log(this.ddt);
					//this.ddt = msg.ddt;
					//inizializza i campi per una nuova riga
					this.iniziaRiga();
				});
			},
			getRigheFromServer: function (){
				$.ajax({
					type: "POST",
					url: "./../do.php",
					data: {
							action: 'getAll',
							params:{
								_type: 'Riga',
								ddt_numero: this.ddt.numero,
								ddt_data: this.ddt.data,
							}
					},
					context: this,
				}).done(function( msg ) {
					console.log('Righe loaded??');
					console.log(msg);
					console.log(JSON.parse(msg));
					this.ddt.righe = JSON.parse(msg);
					this.reindicizzaRighe();
					console.log('####################righe reindicizzate:', this.ddt.righe);
				});
			},
		onQuit: function(){
			//use this as a callback
			//for when the aplication is closed/quitted
		},
		
		//automatismi
		observe: {
			'rigadamodificare.articolo_codice': 'modificatoArticolo',
			'rigadamodificare.pesolordo': 'modificatoPeso',
			'rigadamodificare.tara': 'modificatoPeso',
			//'rigadamodificare.pesonetto': 'modificatoPeso',
			'ddt.clientefornitore_codice': 'modificatoCliente',
		},
		modificatoArticolo: function(oldValue, newValue) {
			//wait for data to fullObj to be updated/propagated
			this.$.codicearticolo.onDataReady = function(){
				var fullObj = JSON.parse(this.$.codicearticolo.fullObj).articolo;
				this.$.codiceum.$.field.value = fullObj.um_codice;
				this.$.codiceiva.$.field.value = fullObj.iva_codice;
				//self delette
				this.$.codicearticolo.onDataReady= function(){};
			}.bind(this);
		},
		modificatoPeso: function(oldValue, newValue) {
			this.$.pesonetto.$.field.value = this.$.pesolordo.$.field.value - this.$.tara.$.field.value;
		},
		modificatoCliente: function(oldValue, newValue) {
			//wait for data to fullObj to be updated/propagated
			this.$.codiceclientefornitore.onDataReady = function(){
			console.log('Il cliente è cambiato');
			console.log(this.$.codicemezzo.$.field.value);
			console.log(this.$.codicevettore.$.field.value);
			
				var fullObj = JSON.parse(this.$.codiceclientefornitore.fullObj).clientefornitore;
				if(this.$.codicemezzo.$.field.value==""){
					//this.$.codicemezzo.$.field.value = fullObj.mezzo_codice;		
					this.$.codicemezzo.val = fullObj.mezzo_codice;		

				}
				if(this.$.codicevettore.$.field.value==""){
					//this.$.codicevettore.$.field.value = fullObj.vettore_codice;				
					this.$.codicevettore.val = fullObj.vettore_codice;				
				}
				//self delette
				this.$.codicearticolo.onDataReady= function(){};
			}.bind(this);
		}
		});
	</script>
</polymer-element>
