<polymer-element name="x-ddt" rigadamodificare>
	<template>
		<x-numerodoc val="{{ddt.numero}}" label="Numero"></x-numerodoc>
		<x-data val="{{ddt.data}}" label="Data"></x-data>
		<br>
		<x-codiceclientefornitore val="{{ddt.clientefornitore_codice}}" label="Cliente"></x-codiceclientefornitore>
		<br>
		<x-numerodoc val="{{ddt.fattura_numero}}" label="N.Fatt."></x-numerodoc>
		<x-data val="{{ddt.fattura_data}}" label="Data.Fatt."></x-data>

		<br>
		<x-codicecausale val="{{ddt.causale_codice}}" label="Causale di spedizione"></x-codicecausale>
		<br>
		<x-codicemezzo val="{{ddt.mezzo_codice}}" label="Mezzo di spedizione"></x-codicemezzo>
		<br>
		<x-codiceclientefornitore val="{{ddt.vettore_codice}}" label="Vettore"></x-codiceclientefornitore>
		<br>
		<x-note val="{{ddt.note}}" label="Note"></x-note>
		<br>
		Righe:
		<template repeat="{{r in ddt.righe}}">
			<br>
			<x-numeroriga val="{{r.numero}}" label="N."></x-numeroriga>
			<x-codicearticolo val="{{r.articolo_codice}}" label="Art."></x-codicearticolo>
			<x-codiceum val="{{r.um_codice}}" label="UM"></x-codiceum>
			<x-prezzo val="{{r.prezzo}}" label="Prezzo"></x-prezzo>
			<x-numerocolli val="{{r.colli}}" label="Colli"></x-numerocolli>
			<x-codiceimballaggio val="{{r.imballaggio_codice}}" label="Tipo Imball."></x-codiceimballaggio>
			<x-peso val="{{r.pesolordo}}" label="Lordo"></x-peso>
			<x-peso val="{{r.tara}}" label="Tara"></x-peso>
			<x-peso val="{{r.pesonetto}}" label="Netto"></x-peso>
			<x-lotto val="{{r.lotto}}" label="Lotto"></x-lotto>
			<x-codiceiva val="{{r.iva_codice}}" label="Iva"></x-codiceiva>
		</template>
	<!-- -->
	<br>
	Modifica Riga
	<br>
	<template bind="{{rigadamodificare}}">
		<x-numeroriga val="{{numero}}" label="N."></x-numeroriga>
		<x-codicearticolo val="{{articolo_codice}}" label="Art."></x-codicearticolo>
		<x-codiceum val="{{um_codice}}" label="UM"></x-codiceum>
		<x-prezzo val="{{prezzo}}" label="Prezzo"></x-prezzo>
		<x-numerocolli val="{{colli}}" label="Colli"></x-numerocolli>
		<x-codiceimballaggio val="{{imballaggio_codice}}" label="Tipo Imball."></x-codiceimballaggio>
		<x-peso val="{{pesolordo}}" label="Lordo"></x-peso>
		<x-peso val="{{tara}}" label="Tara"></x-peso>
		<x-peso val="{{pesonetto}}" label="Netto"></x-peso>
		<x-lotto val="{{lotto}}" label="Lotto"></x-lotto>
		<x-codiceiva val="{{iva_codice}}" label="Iva"></x-codiceiva>
	</template>
	<!-- -->
	</template>
	<script>
		Polymer('x-ddt', {
			ready: function() {
				var ajax = {
				ddt:{
					_type:"ddt",
					numero:"1934",
					data:"16/11/2013",
					clientefornitore_codice:"LAFAVO",
					causale_codice:"01",
					mezzo_codice:"01",
					vettore_codice:"03",
					fattura_numero:"",
					fattura_data:"",
					note:"Note per il ddt",
					righe: [
						{	numero: 1,
							articolo_codice: '01',
							um_codice: 'KG',
							prezzo: '0,001',
							colli: '10',
							imballaggio_codice: '01',
							pesolordo:'1000',
							tara:'100',
							pesonetto:'900',
							lotto:'1/A',
							iva_codice:'4',
							},
						{numero: 2, articolo: '02'},
						]
				   }
				}
				this.ddt= ajax.ddt;
				//lavoro su una copia dell'oggetto
				//this.rigadamodificare = JSON.parse(JSON.stringify(this.ddt.righe[0]));
				console.log(this.ddt);
			}
		});
	</script>
</polymer-element>
