<polymer-element name="x-input" extends="input" attributes="val,label,descrizionecodice">
	<template>
	<label>
		<span style="color:grey">{{label}}</span>
		<input id="field" value="{{val}}" size="{{l}}" maxlength="{{l}}">
		{{descrizionecodice}}
	</label>
	</template>
	<script>
		Polymer('x-input',{
			getProperties: function (){
				//console.log(this.impl.nodeName);
				if(!this.label){
					this.label = this.impl.nodeName;
				}
				/*
				if(this.numeri){
					this.$.field.size=this.numeri;
					this.$.field.maxlength=this.numeri;
				}
				if(this.testo){
					this.$.field.size=this.testo;
					//this.$.field.maxlength=this.testo;
				}
				if(this.data){
					//this.$.field.size=this.data;
					//this.$.field.maxlength=this.data;
				}
				*/
			},
			aggiornaDescrizioneCodice: function (){
				if(this.impl.nodeName.search('CODICE')>0){
					//make sure the nodeName is lowercase
					var nodeName = this.impl.nodeName.toLowerCase();
					//extract from the nodeName the object type removing the 'x-codice' string
					var objType = nodeName.replace('x-codice', '');
					//now capitalize it: the php class has it capitalized: so we need it
					objType = objType.charAt(0).toUpperCase() + objType.slice(1);

					//perform an ajax request to get the data from the server
					$.ajax({
						type: "POST",
						url: "./../do.php",
						data: { action: 'getOne',
								params: {
											_type: objType,
											codice: this.val
											//_autoExtend: -2,
								},
						},
						context: this,
					}).done(function( msg ) {
						console.log(msg)
						var myFullObj = $.parseJSON(msg);
						//make sure the nodeName is lowercase
						var nodeName = this.impl.nodeName.toLowerCase();
						//extract from the nodeName the object type removing the 'x-codice' string
						var objType = nodeName.replace('x-codice', '');
						if(myFullObj[objType].descrizione){ 
							//se l'oggetto ha una proprietà descrizine mostro quella
							this.descrizionecodice = myFullObj[objType].descrizione;
						}else if(myFullObj[objType].ragionesociale){ 
							//se invece ha una proprietà ragione sociale mostro quella
							this.descrizionecodice = myFullObj[objType].ragionesociale;
						}else{
							this.descrizionecodice = '';
						}

					});
				}
			},
			valChanged : function(attrName, oldVal, newVal) {
				this.aggiornaDescrizioneCodice();
			},
			ready: function (){
				this.descrizionecodice='';
				this.getProperties();
			}
		});
	</script>
</polymer-element>


<polymer-element name="x-numerodoc" extends="x-input">
	<script>
		Polymer('x-numerodoc',{tipo:'numeri',l:6});
	</script>
</polymer-element>

<polymer-element name="x-numeroriga" extends="x-input">
	<script>
		Polymer('x-numeroriga',{tipo:'numeri',l:4});
	</script>
</polymer-element>

<polymer-element name="x-numerocolli" extends="x-input">
	<script>
		Polymer('x-numerocolli',{tipo:'numeri',l:5});
	</script>
</polymer-element>

<polymer-element name="x-peso" extends="x-input">
	<script>
		Polymer('x-peso',{tipo:'numeri',l:5});
	</script>
</polymer-element>

<polymer-element name="x-prezzo" extends="x-input">
	<script>
		Polymer('x-prezzo',{tipo:'prezzo',l:10});
	</script>
</polymer-element>

<polymer-element name="x-data" extends="x-input">
	<script>
		Polymer('x-data',{tipo:'data',l:10});
	</script>
</polymer-element>

<polymer-element name="x-codiceclientefornitore" extends="x-input">
	<script>
		Polymer('x-codiceclientefornitore',{tipo:'testo',l:6});
	</script>
</polymer-element>
<!--
<polymer-element name="x-codicevettore" extends="x-input">
	<script>
		Polymer('x-codicevettore',{tipo:'testo',l:6});
	</script>
</polymer-element>
-->
<polymer-element name="x-codicecausale" extends="x-input">
	<script>
		Polymer('x-codicecausale',{tipo:'testo',l:2});
	</script>
</polymer-element>

<polymer-element name="x-codicemezzo" extends="x-input">
	<script>
		Polymer('x-codicemezzo',{tipo:'testo',l:2});
	</script>
</polymer-element>

<polymer-element name="x-codicearticolo" extends="x-input">
	<script>
		Polymer('x-codicearticolo',{tipo:'testo',l:6});
	</script>
</polymer-element>

<polymer-element name="x-codiceum" extends="x-input">
	<script>
		Polymer('x-codiceum',{tipo:'testo',l:2});
	</script>
</polymer-element>

<polymer-element name="x-codiceimballaggio" extends="x-input">
	<script>
		Polymer('x-codiceimballaggio',{tipo:'testo',l:5});
	</script>
</polymer-element>

<polymer-element name="x-codiceiva" extends="x-input">
	<script>
		Polymer('x-codiceiva',{tipo:'testo',l:3});
	</script>
</polymer-element>

<polymer-element name="x-lotto" extends="x-input">
	<script>
		Polymer('x-lotto',{tipo:'testo',l:15});
	</script>
</polymer-element>

<polymer-element name="x-note" extends="x-input">
	<script>
		Polymer('x-note',{tipo:'testo',l:100});
	</script>
</polymer-element>
