<polymer-element name="x-input" extends="input" attributes="val,label,descrizionecodice,disabledstatus,isvettore">
	<template>
	<label>
		<span style="color:grey">{{label}}</span>
		<input 
			id="field"
			value="{{val}}"
			size="{{l}}"
			maxlength="{{l}}"
			on-focus="{{fieldfocus}}"
			on-blur={{fieldblur}}
			on-keydown={{onkeydown}}
			 disabled?={{disabledstatus}}
		>
		{{descrizionecodice}}
	</label>
	</template>
	<script>
		Polymer('x-input',{
			ready: function (){
				this.descrizionecodice='';
				this.getProperties();
				//manage keyboard events
				$(this).keydown(function(event) {
					console.log(event.which);
					switch (event.which){
						case 112: this.getHelp();break; //f1
						/*
						case 13: //enter
							 //document.commandDispatcher.advanceFocus();
							 var focusables = document.querySelectorAll("x-input");
							 console.log(focusables);
							 break;
						*/
						/*
						console.log('simulate a tab keypress');
							//simulate a tab press
							var keyboardEvent = document.createEvent("KeyboardEvent");
							var initMethod = typeof keyboardEvent.initKeyboardEvent !== 'undefined' ? "initKeyboardEvent" : "initKeyEvent";
							keyboardEvent[initMethod](
											   "keypress", // event type : keydown, keyup, keypress
												true, // bubbles
												true, // cancelable
												window, // viewArg: should be window
												false, // ctrlKeyArg
												false, // altKeyArg
												false, // shiftKeyArg
												false, // metaKeyArg
												9, // keyCodeArg : unsigned long the virtual key code, else 0
												0 // charCodeArgs : unsigned long the Unicode character associated with the depressed key, else 0
							);
							document.dispatchEvent(keyboardEvent);
							break;
						*/
					}
				});
			},
			getHelp: function (){
				
				//extract from the nodeName the object type removing the 'x-codice' string
				var objType = this.getFieldType();
				//now capitalize it: the php class has it capitalized: so we need it
				objType = objType.charAt(0).toUpperCase() + objType.slice(1);

				var params={};
				params._type= objType,
				params.codice= ['!=',''];

				console.log('Cerco solo i vettori?: ', this.isvettore);
				if(this.isvettore){
					params.alboautotrasportatori = ['!=',''];
				}
				
				console.log(params);
				params = JSON.stringify(params);
				console.log(params);
				console.log('create the menu');
				var helpWindow = document.createElement('x-menu');
				helpWindow.title='Seleziona '+this.label;
				console.log('modify params');
				helpWindow.params = params;
				console.log(helpWindow);
				console.log('append menu');
				helpWindow.onConfirm = function (selection){
					console.log('XINPUT: HELP CONFIRMED, retrieving data');
					//retrieve the data
					this.val=selection.codice;
					console.log('XINPUT: HELP CONFIRMED, claim focus back from the help menu');
					//get the focus back
					this.$.field.focus();
				}.bind(this);
				helpWindow.onCancel = function (selection){
					console.log('XINPUT: HELP CANCELLED, claim focus back from the help menu');
					//get the focus back
					this.$.field.focus();
				}.bind(this);
				document.body.appendChild(helpWindow);
				helpWindow.searchstring = this.val;

				//wait a little and then position the help window in the middle of the body
				//and remember his width so that it does not change during future modifcation of contents
				//and show us
				/*
				setTimeout(function (){
					this.addModalBackground();
					var modifier = {
						top: 50,
						left: 0,
						}
					this.setPosition('tc','tc',document.body, modifier);
					console.log(this.offsetWidth);
					this.style.width = this.offsetWidth+'px';
					this.show();
					this.focus();
				}.bind(helpWindow), 150);
				*/
				helpWindow.addModalBackground();
				helpWindow.show();
				helpWindow.focus();
				
				helpWindow.onReady = function (){
					this.hideColumn();
					var modifier = {
						top: 50,
						left: 0,
						};
					this.setPosition('tc','tc',document.body, modifier);
					console.log(this.offsetWidth);
					this.style.width = this.offsetWidth+'px';
					//auto remove once we have run one time
					this.onReady = function(){};					
				}.bind(helpWindow);

			},
			getProperties: function (){
				//console.log(this.impl.nodeName);
				if(!this.label){
					this.label = this.impl.nodeName;
				}
				/*
				if(this.numeri){
					this.$.field.size=this.numeri;
					this.$.field.maxlength=this.numeri;
				}
				if(this.testo){
					this.$.field.size=this.testo;
					//this.$.field.maxlength=this.testo;
				}
				if(this.data){
					//this.$.field.size=this.data;
					//this.$.field.maxlength=this.data;
				}
				*/
			},
			aggiornaDescrizioneCodice: function (){
				if(this.impl.nodeName.search('CODICE')>0){
					//extract from the nodeName the object type removing the 'x-codice' string
					var objType = this.getFieldType();
					//now capitalize it: the php class has it capitalized: so we need it
					objType = objType.charAt(0).toUpperCase() + objType.slice(1);

					//perform an ajax request to get the data from the server
					$.ajax({
						type: "POST",
						url: "./../do.php",
						data: { action: 'getOne',
								params: {
											_type: objType,
											codice: this.val
											//_autoExtend: -2,
								},
						},
						context: this,
					}).done(function( msg ) {
						console.log(msg)
						var myFullObj = $.parseJSON(msg);
						//remember the full obj retrieved from the server
						this.fullObj = msg;
						//extract from the nodeName the object type removing the 'x-codice' string
						var objType = this.getFieldType();
						if(myFullObj[objType].descrizione){ 
							//se l'oggetto ha una proprietà descrizine mostro quella
							this.descrizionecodice = myFullObj[objType].descrizione;
						}else if(myFullObj[objType].ragionesociale){ 
							//se invece ha una proprietà ragione sociale mostro quella
							this.descrizionecodice = myFullObj[objType].ragionesociale;
						}else{
							this.descrizionecodice = '';
						}
						this.onDataReady();
					});
				}
			},
			valChanged : function(attrName, oldVal, newVal) {
				this.aggiornaDescrizioneCodice();
			},
			getFieldType: function(){
				//make sure the nodeName is lowercase
				var nodeName = this.impl.nodeName.toLowerCase();
				//extract from the nodeName the object type removing the 'x-codice' string
				var objType = nodeName.replace('x-codice', '');
				return objType;
			},
			fieldfocus: function (event, detail, sender){
				//call our custom focus
				this.focus();
				//select everithing on the field
				var element = event.target;
				element.select();
			},
			fieldblur: function (event, detail, sender){
				this.blur();
			},
			onDataReady: function (){
				//use this as a callback;
			}
		});
	</script>
</polymer-element>


<polymer-element name="x-numerodoc" extends="x-input">
	<script>
		Polymer('x-numerodoc',{tipo:'numeri',l:6});
	</script>
</polymer-element>

<polymer-element name="x-numeroriga" extends="x-input">
	<script>
		Polymer('x-numeroriga',{tipo:'numeri',l:4});
	</script>
</polymer-element>

<polymer-element name="x-numerocolli" extends="x-input">
	<script>
		Polymer('x-numerocolli',{tipo:'numeri',l:5});
	</script>
</polymer-element>

<polymer-element name="x-peso" extends="x-input">
	<script>
		Polymer('x-peso',{tipo:'numeri',l:5});
	</script>
</polymer-element>

<polymer-element name="x-prezzo" extends="x-input">
	<script>
		Polymer('x-prezzo',{tipo:'prezzo',l:10});
	</script>
</polymer-element>

<polymer-element name="x-data" extends="x-input">
	<script>
		Polymer('x-data',{tipo:'data',l:10});
	</script>
</polymer-element>

<polymer-element name="x-codiceclientefornitore" extends="x-input">
	<script>
		Polymer('x-codiceclientefornitore',{tipo:'testo',l:6});
	</script>
</polymer-element>
<!--
<polymer-element name="x-codicevettore" extends="x-input">
	<script>
		Polymer('x-codicevettore',{tipo:'testo',l:6});
	</script>
</polymer-element>
-->
<polymer-element name="x-codicecausale" extends="x-input">
	<script>
		Polymer('x-codicecausale',{tipo:'testo',l:2});
	</script>
</polymer-element>

<polymer-element name="x-codicemezzo" extends="x-input">
	<script>
		Polymer('x-codicemezzo',{tipo:'testo',l:2});
	</script>
</polymer-element>

<polymer-element name="x-codicearticolo" extends="x-input">
	<script>
		Polymer('x-codicearticolo',{tipo:'testo',l:6});
	</script>
</polymer-element>

<polymer-element name="x-codiceum" extends="x-input">
	<script>
		Polymer('x-codiceum',{tipo:'testo',l:2});
	</script>
</polymer-element>

<polymer-element name="x-codiceimballaggio" extends="x-input">
	<script>
		Polymer('x-codiceimballaggio',{tipo:'testo',l:5});
	</script>
</polymer-element>

<polymer-element name="x-codiceiva" extends="x-input">
	<script>
		Polymer('x-codiceiva',{tipo:'testo',l:3});
	</script>
</polymer-element>

<polymer-element name="x-lotto" extends="x-input">
	<script>
		Polymer('x-lotto',{tipo:'testo',l:15});
	</script>
</polymer-element>

<polymer-element name="x-note" extends="x-input">
	<script>
		Polymer('x-note',{tipo:'testo',l:100});
	</script>
</polymer-element>
