<polymer-element name="x-query-window" attributes="params" extends="x-window" jsonList="" tabindex="0">
	<template>
		<style>
		@host:active{
			/*color:red;*/
		}
		  table {
			width:100%;
			padding:0px;
			margin:0px;
		  }
		  tr{
			margin:0px;
			padding:0px;

		  }
		   th {
			font-family:arial;
			font-weigth: bold;
			background-color: #a1a1a1;
			color: #e1e1e1;
			/*border-bottom: 1px solid #a1a1a1;*/
			/*text-transform:uppercase;*/
		  }
		  td{
			margin:0px;
			padding-left:0.5em;
			border-bottom: 1px solid #e1e1e1;
		  }
		  td:focus, .selected {
			border-color:orange;
			outline: none;
			box-shadow: 0 0 10px orange;
			background-color: orange;
		  }
		   .hidden {
				width: 0px;
				height: 0px;
				visibility:hidden;
				display:none;
				overflow:hidden;
			}
		</style>
		<x-window title="Seleziona un elemento..."></x-window>

	</template>
	<script>
	Polymer('x-query-window',{
	created: function (){
		$(this).keydown(function(event) {
		//console.log(event.which);
			switch (event.which){
				case 38: this.table.prev(); break; //up
				case 40: this.table.next(); break; //down
				case 13: this.confirm(); break; //enter
				case 27: this.cancel(); break; //esc
				case 33:
					//se sono il primo della pagina
					if(this.table.getFirstOfThePage() == this.table.selected){
						//e ci sono ancora pagine disponibili prima di me
						console.log('attualmente a pagina: '+this.table.getCurPage());
						if(this.table.getCurPage()>0){
							console.log('seleziono la pagina precedente');
							console.log(this.table.getCurPage()-1);
							//seleziono il primo della pagina precedente
							this.table.selectFirstOfThePage(this.table.getCurPage()-1);
						}
					}else{
						//seleziono il primo della pagina corrente
						this.table.selectFirstOfThePage();
					}
					break; //pageUp
				case 34:
					//se sono l'ultimo della pagina
					if(this.table.getLastOfThePage() == this.table.selected){
						//e ci sono ancora pagine disponibili prima di me
						console.log('attualmente a pagina: '+this.table.getCurPage());
						if(this.table.getCurPage()<this.table.getPagesNumber()){
							console.log('seleziono la pagina successiva');
							console.log(this.table.getCurPage()+1);
							//seleziono il primo della pagina precedente
							this.table.selectLastOfThePage(this.table.getCurPage()+1);
						}
					}else{
						//seleziono il primo della pagina corrente
						this.table.selectLastOfThePage();
					}
					//pageDown
				
			}
			//return false;
		});
	},
	
	getFromServer : function (){
		/*perform an ajax request to get the list to display*/
		$.ajax({
			type: "POST",
			url: "./../do.php",
			data: { action: 'getAll',
					params: $.parseJSON(this.params)
			},
			context: this,
		}).done(function( msg ) {
			if (msg){
			//console.log(msg);
				//rimpiazzo gli "a capo" con uno "spazio"
				//msg = msg.replace(/\r/gm,' ');
				//console.log(msg);
				//
				var jsonList = $.parseJSON(msg);
				this.jsonToTable(jsonList, $.parseJSON(this.params));
			}
		});
	},
	
	jsonToTable : function (list, params){
	
/*helper function*/
function toObject(arr) {
  var rv = {};
  for (var i = 0; i < arr.length; ++i)
    if (arr[i] !== undefined) rv[arr[i]] = '';
  return rv;
}
/*helper function end*/


		//console.log('STO CREANDO LA TABELLA')
		for (var i=0; i < list.length; i++){
			//creo le colonne
			if(i==0){
				var table = document.createElement('table');
				table.elementsPerPage = 10;
				table.tabIndex=0;
				var row = document.createElement('tr');
				table.appendChild(row);

				/*decido quali colonne mostrare dei dati che mi hanno dato, se non mi è stato specificato niente le mostro tutte quelle contenute nei dati*/
				columns = list[i]; 
				if(params){
					if(params.hasOwnProperty('_select')){
						if(params._select!=''){
							columns = toObject(params._select.split(','));
						}
					}
				}
				
				//creo una intestazione per ogni proprieta/colonna da mostrare
				for (prop in columns){
					row.innerHTML+='<th>'+prop+'</th>';
				}				
	
				//mi ricordo la lista degli oggetto
				table.list = list;
			}


			//creo una nuova riga
			var MyRow = document.createElement('tr');
			MyRow.id='r'+i;
			MyRow.tabIndex=0;

			
			//con tutti i campi
			for (prop in columns){
				MyRow.innerHTML+='<td>'+list[i][prop]+'</td>';
			}
			table.appendChild(MyRow);
		}

		this.webkitShadowRoot.querySelector('x-window').appendChild(table);

		//seleziona una riga della tabella
		table.select = function (id){
			//deseleziona vecchio elemento
			if (this.selected != null){
				this.querySelector('#r'+this.selected).classList.toggle('selected');
			}
		
			//nascondo la vecchia pagina
			this.hidePage(this.getCurPage());

			//mostro la nuova
			this.showPage(this.getPageOfTheElement(id));

			//seleziona il nuovo elemento
			this.querySelector('#r'+id).classList.toggle('selected');
			//this.querySelector('#r'+id).focus();
			this.selected = id;
		};
		table.prev = function (){
			if (this.selected > 0){
				this.select ( this.selected-1);
			}
		};
		table.next = function (){
			if (this.selected < (this.length()-1)){
				this.select ( this.selected+1);
			}
		};
		table.first = function (){
			table.select(0);
		};
		table.last = function (){
			table.select(this.length());
		};
		table.selectFirstOfThePage = function (page){
			this.select(this.getFirstOfThePage(page));
		};
		table.selectLastOfThePage = function (page){
			//console.log('selecting: '+element);
			this.select(this.getLastOfThePage(page));
		};
		table.length = function (){
			return this.querySelectorAll('tr').length-1;
		};
		table.getSelection = function (){
			//return the currentli selected object
			return this.list[this.selected];
		};
		table.getLastOfThePage = function (page){
			if(!page){page=this.getCurPage()-1}else{page=page-1;}
			if((this.elementsPerPage-1) > this.length()){pageElement=this.length()-1}else{pageElement=this.elementsPerPage-1 }
			var element = (page * this.elementsPerPage) + pageElement;
			return element;
		}

		table.getFirstOfThePage = function (page){
			if(!page){page=this.getCurPage()-1}else{page=page-1;}
			var element = (page * this.elementsPerPage);
			return element;
		}

		
		table.showPage = function (pageNum){
			var showFrom = ((pageNum-1) * this.elementsPerPage);
			var showTo = pageNum * this.elementsPerPage-1;
			//console.log('==Showing==');
			//console.log('From: '+showFrom);
			//console.log('To: '+showTo);
			//hide the prev page
			for (var i=showFrom; i <= showTo; i++){
					//console.log('try to show: ' +i);
				if(i >=0 && i <this.length() ){
					//console.log('ok');
					this.querySelector('#r'+i).classList.remove('hidden');			
				}
			}		
		};
		table.hidePage = function (pageNum){
			var hideFrom = ((pageNum-1) * this.elementsPerPage);
			var hideTo = pageNum * this.elementsPerPage-1;
			//console.log('==Hiding==');
			//console.log('From: '+hideFrom);
			//console.log('To: '+hideTo);
			//hide the prev page
			for (var i=hideFrom; i <= hideTo; i++){
					//console.log('try to hide: ' +i);
				if(i >=0 && i <this.length() ){
					//console.log('ok');
					this.querySelector('#r'+i).classList.add('hidden');			
				}
			}		
		};
		table.getCurPage = function (){
			return parseInt((this.selected | 1)/this.elementsPerPage)+1;
		};
		table.getPagesNumber = function (){
			return parseInt(this.length()/this.elementsPerPage)+1;
		};
		table.getPageOfTheElement = function (element){
			return parseInt(element/this.elementsPerPage)+1;
		};
		table.hideAllPages = function (){
			var pages = this.getPagesNumber();
			for (var i=1; i <= pages; i++){
				this.hidePage(i);
			}
		}
		
		//nascondo tutte le pagine
		table.hideAllPages();
		//di default seleziono la prima riga /*todo*/ bisognerebbe selezionare l'elemento corrente
		table.select(0);

		this.table = table;
	},
	
	confirm : function (){
		this.onConfirm(this.table.getSelection());
		//remove me from the dom
		this.parentNode.removeChild(this);
		//and return the value
		return this.table.getSelection();
	},
	cancel : function (){
		//remove me from the dom without returning any value
		this.parentNode.removeChild(this);
	},
	onConfirm: function (selection){/*use this as a callback*/
	},
	paramsChanged: function (){
		//creo i parametri della query da una stringa json
		if(this.params){
			this.params = this.params.replace("'/g", '"');
			//ricavo i dati con cui riempire la finestra
			this.getFromServer();
		}
		
		if(this.jsonList){
			this.jsonList = $.parseJSON(this.jsonList)
			this.jsonToTable(this.jsonList);
		}
	}
	
});
	</script>
</polymer-element>
