<polymer-element name="x-pannel" attributes="title">
	<template>	
	<style>
	.hidden {
		width: 0px;
		height: 0px;
		visibility:hidden;
		display:none;
		overflow:hidden;
	}

	</style>
		<content></content>
	</template>
<script>
	Polymer('x-pannel', {
		uiOnly: true,
		ready: function() {

			//manage keyboard events
			$(this).keydown(function(event) {
				switch (event.which){
						case 13:
							var test= this.focusNext();
							//console.log(test);
							return test;
					//default: console.log(event.which);
				}
			});
		},
		hide: function (){
			this.hidden = true;
		},
		show: function (){
			this.hidden = false;
		},
		onleaving: function (){
			console.log('leaving', this);
		},
	});
</script>
</polymer-element>
