<polymer-element name="x-query-menu" extends="x-menu" attributes="params">
	<template>
		<style>
		:host {
			box-shadow: 3px 3px 5px 1px #ccc;
			border: 1px solid #a1a1a1;
			color: #000000;
			display: inline-block;
			min-width:15em;
			position:relative;
			/*bottom: 2em;
			right: 2em;*/
			background-color:white;
			width:100px;
			border-radius: 0.8em;
			overflow:hidden;
			z-index: 100;
		}
		.selected {
			border-color:orange;
			outline: none;
			box-shadow: 0 0 10px orange;
			background-color: orange;
		}
		.hidden {
			width: 0px;
			height: 0px;
			visibility:hidden;
			display:none;
			overflow:hidden;
		}
		.title {
			background: linear-gradient(to bottom, #cdd2d8 8%,#989a9b 100%); /* W3C */
			text-shadow:#CECECE 0px 1px 0, #000 0 -1px 0;
			font-weight:bold;
			font-size:0.8em;
			color: #757575;
			padding-left:1em;
		}
		.title span {
			position:absolute;
			top:0px;
			right:1em; 
		}
		</style>
		<div class="title">Menu <span>pag.{{page}}/{{pages}}</span></div>
		<div id="items"></div>
		</template>
	<script>
	Polymer('x-query-menu',{
		created: function (){
			/*
			this.params = {
				_type:"Clientefornitore",
				codice: ['!=','']
			}
			this.params =  JSON.stringify(this.params);
			*/
			if(this.params!=null){
				console.log('Im going to send request with params: ',this.params);
				this.getFromServer();
			}else{
				console.log('No params set wait for some');
			}
		},
		
		getFromServer : function (){
			//perform an ajax request to get the list to display
			$.ajax({
				type: "POST",
				url: "./../do.php",
				data: {
						action: 'getAll',
						params: $.parseJSON(this.params)
						},
				context: this,
			}).done(function( msg ) {
					console.log(msg);
					console.log('Jsonize the reponse:');
					var jsonList = $.parseJSON(msg);
					console.log(jsonList);
					console.log('Create the table');
					var table = this.generateTable (jsonList, $.parseJSON(this.params));
					console.log('Append the table to the shadow dom');
					this.$.items.appendChild(table);
					console.log('Generate the menu');
					this.createMenu (table.children);
			});
			
		},
		generateTable : function (list, params){
			var table = document.createElement('table');
			var rows =[];
			for (var i=0; i < list.length; i++){
				//for each item generate a row
				var item = list[i];
				var row = document.createElement('tr');
				for (prop in item){
					var field = document.createElement('td');
					field.innerHTML =item[prop];
					row.appendChild(field);
				}
				table.appendChild(row);
			}
			return table;
		},
		onConfirm: function (selection){/*use this as a callback*/
		},
		onCancel: function (){/*use this as a callback*/
		},
		paramsChanged: function (){
			//creo i parametri della query da una stringa json
			if(this.params){
				this.params = this.params.replace("'/g", '"');
				//ricavo i dati con cui riempire la finestra
				this.getFromServer();
			}
			
			if(this.jsonList){
				this.jsonList = $.parseJSON(this.jsonList)
				this.jsonToTable(this.jsonList);
			}
		}
		
	});
	</script>
</polymer-element>
