<polymer-element name="x-tabs">
	<template>
		<style>
		  .labels{
			border: 0;
			border-bottom: 1px solid #ccc;
		  }
		  .labels > div{
			display: inline-block;
			border: 1px solid #ccc;
			padding-left:0.3em;
			padding-right:0.3em;
			border-top-left-radius: 0.4em;
			border-top-right-radius: 0.4em;
			background-color: #e1e1e1;
			border-bottom:0px;
		   }

	   .labels > div:hover {
			background-color: white;
			border-color: #000000;
		  }
	   .labels > .selected {
			background-color: white;
			color: #555;
		  }

	   .hidden {
			width: 0px;
			height: 0px;
			visibility:hidden;
			display:none;
			overflow:hidden;
		}
		</style>
		
		<div class="labels" id="labels"></div>
		<div class="pannels" id="pannels">
			<content></content>
		</div>
	</template>
	<script>
    Polymer('x-tabs', {
		uiOnly: true,
		ready: function() {
	  
			//dont' ask me why but if I do not put it into a settimeout block it says it has 0 childrens... that is not true
			//even if i call it in 0 milliseconds seconds
			setTimeout(function () {

				//for each tab pannel
				for (var tabid=0; tabid < this.children.length; tabid++){

					//the title of the tabcontent
					var id = this.children[tabid].title;
					
					//setup the tab-label
					var newLabel = document.createElement('div');
					newLabel.innerHTML = id; 
					newLabel.title = id;
					newLabel.onclick = this.select.bind(this);
					
					//add the tab-label to the dom
					this.$.labels.appendChild(newLabel);
					
					//each panel when lose the focus show a menu
					
					this.children[tabid].onleaving = function (){
						var menu = document.createElement('x-query-window');
						menu.jsonList =$.parseJSON('[{"menu":"Testata"},{"menu":"Dettaglio"},{"menu":"Stampa"}]');
						menu.jsonToTable(menu.jsonList);
						menu.webkitShadowRoot.querySelector('x-window').setPosition(this.webkitShadowRoot.querySelector('#pannels'), 'TL', 'TL');
						this.webkitShadowRoot.appendChild(menu);

						menu.onConfirm = function (selection){
							this.selectByLabel(selection.menu);
						}.bind(this);
						
						//do not leave the panel
						return false;
					}.bind(this)
					
					//on the start i show only the firs tab
					if(tabid==0){
						this.children[tabid].show();
						this.$.labels.children[tabid].className='selected';
					}else{
						this.children[tabid].hide();
						this.$.labels.children[tabid].className='';
					}
				}
			}.bind(this), 5);
			
			/*focus management*/
			this.focusAbleContainer = this;

		},
	 
		select: function (event){
			var tabTitle=event.target.title;
			this.selectByLabel(tabTitle);
		},
		
		selectByLabel:function  (label){
			var tabTitle=label;
			
			//show the content
			for (var tabid=0; tabid < this.children.length; tabid++){
				var curTabPanel = this.children[tabid];
				var curTabLabel = this.$.labels.children[tabid];
				
				if(tabTitle == curTabPanel.title){
					curTabPanel.show();
					curTabLabel.className='selected';
					curTabPanel.myfocus();
				}else{
					curTabPanel.hide();
					curTabLabel.className='';
				}
			}
		},		
	  
		/*focus management*/
		focusedID: -1,
		myfocus: myfocus,
		focusNext: focusNext,
		getFocusAble: getFocusAble,
    });
	</script>
</polymer-element>
